
.choix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 50%;
}

.paper{
    border: 20px solid #5671F5;
    position: absolute;
    top: 55px;
    left: 210px;
}
.scissors{
    border: 20px solid #ECA724;
    position: absolute;
    top: 55px;
    right: 210px;
}

.rock{
    border: 20px solid #DF405E;
    position: absolute;
    bottom: 75px;
}



